.git
.github
.env
.env.*
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/hot
*.md
tests
.editorconfig
.gitattributes
.gitignore
phpunit.xml
docker-compose*.yml
Dockerfile
public/storage
prompt.md
